.login-container {
    min-height: 100%;
    width: 100%;
    position: absolute;
    background: url(../../assets/imgs/login/login_bg.svg);
}
.login-title {
    text-align: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 16px;
}
.login-form {
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}