.cxx-bill {
    @media screen and (min-width: 992px){
        /* 侧边栏出现时候 */
        &-static, &-search {
            width: calc(100% - 232px) !important;
        }
    }
    &-search {
        display: flex;
        align-items: center;
        height: 32px;
        background: #fff;
        border-top: 1px solid #f0f2f5;
        position: fixed;
        width: 100%;
        padding: 0 8px;
        cursor: pointer;
        &-left {
            flex-grow: 1;
        }
        &-split {
            height: 16px;
            width: 1px;
            background: #f0f2f5;
            margin: 0 8px;
        }
        &-right {
            font-size: 14px;
            line-height: 14px;
            &:active {
                color: #bb9246;
            }
        }
    } 
    &-static {
        display: flex;
        height: 48px;
        background: #f0f2f5;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        position: fixed;
        width: 100%;
        margin-top: 32px;
        .ant-calendar-picker {
            width: 100px;
        }
        .ant-calendar-picker-input {
            border-radius: 100px;
        }
        span {
            display: block;
        }
    }
    &-list {
        padding-top: 80px;
    }
}