.cxx-bill {
    @media screen and (min-width: 992px){
        /* 侧边栏出现时候 */
        &-static {
            width: calc(100% - 232px) !important;
            margin-top: -24px;
        }
    } 
    &-static {
        display: flex;
        height: 48px;
        background: #f0f2f5;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        position: fixed;
        width: 100%;
        .ant-calendar-picker {
            width: 100px;
        }
        .ant-calendar-picker-input {
            border-radius: 100px;
        }
        span {
            display: block;
        }
    }
    &-list {
        padding-top: 48px;
    }
}